.carousel-wrapper-shashi {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  user-select: none;
}

.carousel-scroll-container-shashi {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  gap: 10px;
}

.carousel-scroll-container-shashi::-webkit-scrollbar {
  display: none;
}

.carousel-item-shashi {
  flex: 0 0 100%;
  scroll-snap-align: start;
  aspect-ratio: 16 / 9;
  border-radius: 12px;
  overflow: hidden;
  user-select: none;
}

.carousel-content-shashi {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  aspect-ratio: 16 / 9;
  pointer-events: none;
  user-select: none;
}

.video-thumbnail-shashi {
  cursor: pointer;
  position: relative;
  pointer-events: auto;
}

.video-thumb-image-shashi {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  border-radius: 10px;
}

.play-button-overlay-shashi {
  position: absolute;
  font-size: 60px;
  color: white;
  text-shadow: 0px 0px 10px black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* Modal */
.video-modal-overlay-shashi {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 15, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.video-modal-container-shashi {
  position: relative;
  width: 90%;
  max-width: 960px;
  aspect-ratio: 16 / 9;
  background: black;
  border-radius: 10px;
  overflow: hidden;
}

.video-close-button-shashi {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.video-iframe-shashi {
  width: 100%;
  height: 100%;
  border: none;
}
